body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.temp_border {
    border: 2px solid red;
}

/* Header */
.header_image {
  width: 100%;      
  height: 30vh;     
  overflow: hidden; 
}

.header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}    

/* ----------------------------Nav------------------------- */
nav  {
  background-color: white;
}

/* ----------------------------Content------------------------- */
.content_card {
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}
